<h1>Heroes</h1>
<hr>
<div class="row">
  <div class="col-md-12">
    <button [routerLink]="['/heroe', 'nuevo']" class="btn btn-outline-primary" type="button" name="button">Nuevo Héroe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Bio</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ heroes[k].nombre }}</td>
            <td>{{ heroes[k].casa }}</td>
            <td>{{ heroes[k].bio }}</td>
            <td>
              <button [routerLink]="['/heroe', k]" type="button" class="btn btn-outline-success">Editar</button>
            </td>
            <td>
              <button (click)="borrarHeroe(k)" class="btn btn-outline-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
        <strong>No hay</strong> registros que mostrar
      </div>
      <div *ngIf="loading" class="alert alert-warning" role="alert">
          <strong>Cargando...</strong> un momento por favor
        </div>
    </div>
  </div>
</div>