<h3>Héroe
  <small>nombre...</small>
</h3>
<hr>
<button routerLink="['heroes']" class="btn btn-outline-danger">Regresar</button>
<button (click)="agregarNuevo(formaHeroe)" class="btn btn-outline-success">Nuevo Héroe</button>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #formaHeroe="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="heroe.nombre" #nombre="ngModel" placeholder="Nombre Héroe"
        required>
      </div>
      <div class="form-group">
        <label for="casa">Casa</label>
        <select class="form-control" [(ngModel)]="heroe.casa" #casa="ngModel" name="casa">
          <option value="">Seleccione una casa</option>
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea type="texarea" [(ngModel)]="heroe.bio" #bio="ngModel" name="bio" class="form-control" placeholder="Biografía del Héroe"></textarea>
      </div>
      <div class="form-group">
        <button [disabled]="!formaHeroe.valid"
        type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
      </div>
      {{ formaHeroe.valid }}
    </form>
  </div>
</div>